<!DOCTYPE html>
<html>
  <head>
    <style>  
      .container{
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span{
        display: block;
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="https://i.imgur.com/oUAKMC5.png" alt="Logo">
      <span>Oi, {{name}}</span>

      <br/>

      <span>Você solicitou alteração de senha.</span>
      <span>Para realizar a troca, clique no link <a href={{link}}>{{link}}</a></span>

      <span>Caso não tenha sido você quem solicitou a alteração da senha, basta ignorar este e-mail.</span>

      <strong>Obrigado!</strong>

      <h3>Equipe | <strong>Rentx</strong></h3>
    </div>
  </body>
</html>